name: Build on Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  pr-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR Code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build WAR
        run: mvn clean package
