name: Build on Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build WAR with Maven
        run: mvn clean package

      - name: Upload WAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: demo-war
          path: target/*.war
